{% extends 'base.html.twig' %}

{% block title %}
    {{ category.title }}
{% endblock %}

{% block body %}
    <a href="{{ url('category_index') }}" title="{{ 'action.back'|trans }}">
        {{ 'action.back'|trans }}
    </a>

    <h1>{{ category.title }}</h1>

    <div class="mt-3">
        <dt>{{ 'label.content'|trans }}</dt>
        <dd>{{ category.content }}</dd>
    </div>

{% endblock %}